footer .container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  padding-top: 3rem;

  @media screen and (max-width: 960px) {
    min-width: 350px;
    padding: 1rem;
  }

  .logo {
    margin-bottom: 3rem;
  }

  .container-flex {
    display: flex;
    
    @media screen and (max-width: 960px) {
      flex-direction: column;
    }
  }

  #footer-left {
    width: 35%;
    padding-right: 2rem;
    @media screen and (max-width: 960px) {
      width: 100%;
      padding-right: 0;
    }

    .social {
      margin-top: 2rem;
    }
  }
  
  #footer-right {
    width: 65%;

    @media screen and (max-width: 960px) {
      width: 100%;
    }

    .container-flex {
      justify-content: space-between;
      
      @media screen and (max-width: 960px) {
        padding: 0;
      }

      &:first-child {
        @media screen and (max-width: 960px) {
          padding-top: 3rem;
          margin-top: 3rem;
          border-top: 1px solid $darkgrey;
        }
      }

      input {
        width: 48%;

        @media screen and (max-width: 960px) {
          width: 100%;
        }
      }
    }

    textarea {
      width: 100%;
      min-height: 6rem;
    }

  }

  .copyright {
    border-top: 1px solid $darkgrey;
    padding-top: $padding-l;
    padding-bottom: $padding-l;
    margin-top: $padding-l*1.7;
    font-size: .7rem;
  }

}
