footer .container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  padding-top: 3rem;

  .logo {
    margin-bottom: 3rem;
  }

  .container-flex {
    display: flex;
    
    @media screen and (max-width: 960px) {
      flex-direction: column;
      padding: 1rem;
      margin-top: 2rem;
      border-top: 1px solid $lightgrey;
    }
  }

  #footer-left {
    width: 35%;
    padding-right: 2rem;
    @media screen and (max-width: 960px) {
      width: 100%;
      padding-right: 0;
    }

    .social {
      margin-top: 2rem;
    }
  }
  
  #footer-right {
    width: 65%;

    @media screen and (max-width: 960px) {
      width: 100%;
    }

    .container-flex {
      justify-content: space-between;
      
      @media screen and (max-width: 960px) {
        padding: 0;
      }

      input {
        width: 48%;

        @media screen and (max-width: 960px) {
          width: 100%;
        }
      }
    }

  }

}
