form {

  input, textarea {
    padding: $padding;
    border-radius: none;
    @extend p; //Même réglages que les paragraphes pour les polices
    color:$white;
    margin-bottom: 1rem;

    &:focus {
      border-radius: inherit;
      // border-color: $white;
      box-shadow: 0px 0px 5px $white;
    }
  }
}

// J'imagine que je pourrais avoir des formulaires sur fond plus clair, donc je fais une classe spéciale pour la couleur grise
.grey {
  input[type="text"], input[type="email"],input[type="tel"],input[type="url"], textarea {
    border: 1px solid $darkgrey;
    background: transparent ;
  }
}